
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access to pandals, as this is public data for the map.
    // Disallow write access from the client.
    match /pandals/{pandalId} {
      allow read: if true;
      allow write: if false;
    }

    // Allow public read access to Metro stations.
    match /Metro/{metroId} {
      allow read: if true;
      allow write: if false;
    }

  }
}
